.backImageFeelingsIndex {
  @include topImage(100vh, 100vw, "lake-4639368_1920.jpg");
  position: relative;
  &Box {
    box-sizing: border-box;
    height: 50vh;
    width: 100vw;
    position: absolute;
    bottom: 0;
    display: flex;
    &Left {
      box-sizing: border-box;
      color: white;
      font-weight: bold;
      width: 50%;
      font-size: 4rem;
      line-height: 7vh;
      padding: 10% 0 0 10%;
    }
    &Right {
      box-sizing: border-box;
      color: rgb(255, 255, 255);
      font-weight: bold;
      width: 50%;
      font-size: 1.8rem;
      line-height: 7vh;
      padding: 10% 0 0 5%;
    }
  }
}
.feeelingsIndexForm {
  box-sizing: border-box;
  height: 70vh;
  display: flex;
  justify-content: space-between;
  background-color: rgb(168, 168, 168);
  padding: 0 10%;
  &Title {
    line-height: 70vh;
    font-size: 2.5rem;
    font-weight: bold;
  }
  &Box {
    height: 100%;
    width: 50%;
    background-color: greenyellow;
  }
}