.backImageFeelingsIndex
  .backImageFeelingsIndexBox
    .backImageFeelingsIndexBoxLeft
      %h1 あなたを支えた
      %h1 コンテンツを忘れぬように
    .backImageFeelingsIndexBoxRight
      %h2 刺激を受けたコンテンツは人それぞれ
      %h2 音楽、本、映画、ドラマ...
      %h2 それらを忘れず、感じた気持ちまたは状況とともに保存しましょう。
      %h2 同じ感情になった際に、また触れたいと思う日が来るかもしれません。
.feeelingsIndexContent
  .feeelingsIndexContentTitle
    早速フォルダを作成しましょう！