.backImageFeelingsIndex
  .backImageFeelingsIndexBox
    .backImageFeelingsIndexBoxLeft
      %h1 あなたを支えた
      %h1 コンテンツを忘れぬように
    .backImageFeelingsIndexBoxRight
      %h2 刺激を受けたコンテンツは人それぞれ
      %h2 音楽、本、映画、ドラマ...
      %h2 それらを忘れず、感じた気持ちまたは状況とともに保存しましょう。
      %h2 同じ感情になった際に、また触れたいと思う日が来るかもしれません。
.feeelingsIndexForm
  .feeelingsIndexFormTitle
    %h1 早速フォルダを作成しましょう！
  .feeelingsIndexFormBox
    .feeelingsIndexFormBoxText
      %h1 気負うことなく、思うがままにコンテンツの宝箱を作りましょう
      %ul 例
      %li 気合が入る
      %li 新天地
      %li 失恋
      %li 悔しい
      %li 優しくなりたい
    = form_with model: @feeling, class: "feeelingsIndexFormBoxField" do |f|
      .feeelingsIndexFormBoxFieldTitle
        フォルダ作成
      = f.text_field :feeling_name, class: "feeelingsIndexFormBoxFieldForm"
      = f.submit
  