header {
  position: fixed;
  top: 0;
  transition: .5s;
  height: 13vh;
  width: 100vw;
  background-color: red;
}
.header.hide {
  top: -13vh;
  display: none;
}

.g {
  height: 50vh;
  background-color: green;
}
.y {
  height: 500vh;
  background-color: yellow;
}