.header {
  background-color: white;
  position: fixed;
  top: 0;
  transition: .5s;
  height: 13vh;
  width: 100vw;
  opacity: 0.5;
  &Center {
    text-align: center;
    line-height: 13vh;
    width: 20%;
    height: 50%;
    margin: 0 auto;
    font-size: 2.9rem;
  }
}
.header.hide {
  top: -12vh;
}
