@mixin header($top_position, $height, $space) {
  background-color: rgba($color:white, $alpha: 0.5);
  position: fixed;
  top: $top_position;
  transition: .5s;
  height: $height;
  width: 100vw;
  display: flex;
  justify-content: $space;
  z-index: 99;
}

@mixin headerMenu($fontsize) {
  text-align: center;
  line-height: 13vh;
  width: 30%;
  height: 100%;
  font-size: $fontsize;
}

.header {
  @include header(0, 13vh, space-between);
  &Left {
    @include headerMenu(2.9rem);
  }
  &Center {
    @include headerMenu(2.9rem);
  }
  &Right {
    @include headerMenu(1.6rem);
    h2 {
      display: inline;
    }
    .fa-angle-double-down {
      display: inline;
      line-height: 13vh;
    }
  }
}
.header.hide {
  top: -13vh;
}
.pankuzu {
  @include header(13vh, 5vh, start);
  line-height: 5vh;
  font-size: 1.6rem;
  padding-left: 5%;
}
.pankuzu.top{
  top: 0;
}